<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://cdniosd08.xxzhushou.cn/uploads/xxipa/21571/0.6.1/12955/zhentaozhentaozhentaozhentaozhentaozhent_com.tencent.tmgp.pubgmhd_42030_0_1526560021.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<string>NO</string>
					<key>url</key>
					<string>http://cc.csccs.cc/icon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<string>NO</string>
					<key>url</key>
					<string>http://cc.csccs.cc/icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tencent.tmgp.pubgmhd</string>
				<key>bundle-version</key>
				<string>0.6.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>刺激战场</string>
				<key>title</key>
				<string>刺激战场-更多好玩关注微信：1807033003</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
