<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
        <plist version="1.0">
            <dict>
               <key>items</key>
               <array>
                   <dict>
                       <key>assets</key>
                       <array>
                           <dict>
                               <key>kind</key>
                               <string>software-package</string>
                               <key>url</key>
                               <string>http://qd.appdown.info/newpan/qianmin/20180301/FilzaJailed_v3.1(os7.0)_180301155605_app.tongbu.com.zb.ipa</string>
                           </dict>
                           <dict>
                               <key>kind</key>
                               <string>display-image</string>
                               <key>needs-shine</key>
                               <true/>
                               <key>url</key>
                               <string>http://cc.csccs.cc/icon.png</string>
                           </dict>
                       </array><key>metadata</key>
                       <dict>
                           <key>bundle-identifier</key>
                           <string>com.tweakbox.Filza</string>
                           <key>bundle-version</key>
                           <string>0.33.1</string>
                           <key>kind</key>
                           <string>software</string>
                           <key>title</key>
                           <string>FilzaJailed_v3.1</string>
                       </dict>
                   </dict>
               </array>
            </dict>
        </plist>
