<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://oqpz7upm1.bkt.clouddn.com/xiaohui0623.ipa?e=1498372477&amp;token=4iXFjOyOOb0dWrJ4G_weqXe_zJRJHf0dK2cVCELu:iHgy6UUDyV0ESSSRty6_INeuIqU=</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://jabizb.cn/icon/largeImage.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://jabizb.cn/icon/largeImage.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tencent.xin.dailybuild</string>
				<key>bundle-version</key>
				<string>0.0.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>纯净版多开</string>
				<key>title</key>
				<string>纯净多开-更多好玩添加微信：1822412614</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
