<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>items</key>
  <array>
   <dict>
    <key>assets</key>
    <array>
     <dict>
      <key>kind</key>
      <string>software-package</string>
      <key>url</key>
      <string>https://s.beta.myapp.com/myapp/rdmexp/exp/file/comcaishensmall_632716_9994ad10-4a5b-40f6-b587-179268a5aca2.ipa</string>
     </dict>
     <dict>
      <key>kind</key>
      <string>display-image</string>
      <key>needs-shine</key>
      <true/>
      <key>url</key>
      <string>http://i8cv.com/Icon.png</string>
     </dict>
     <dict>
      <key>kind</key>
      <string>full-size-image</string>
      <key>needs-shine</key>
      <true/>
      <key>url</key>
      <string>http://i8cv.com/Icon.png</string>
     </dict>
    </array>
    <key>metadata</key>
    <dict>
     <key>bundle-identifier</key>
     <string>com.asiainfo.dmpapp</string>
     <key>bundle-version</key>
     <string>6.5.7</string>
     <key>kind</key>
     <string>software</string>
     <key>subtitle</key>
     <string>com.asiainfo.dmpapp</string>
     <key>title</key>
     <string>纯净多开-更多好玩微信1822412614”</string>
    </dict>
   </dict>
  </array>
 </dict>
</plist>
