<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://sl.video.kcloud.n0808.com/5.21.1.1820.ipa?sign=5737464eeb716ec151eb240f390e6543&amp;t=5afd616a&amp;ts=1526554986&amp;hash=cf4fcab2e2bbe36cf78a627c59f3ae3f</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<integer>0</integer>
					<key>url</key>
					<string>http://firicon.fir.im/d8e86702279dff4b6426be3c1f21d5f16c666d66</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://firicon.fir.im/d8e86702279dff4b6426be3c1f21d5f16c666d66</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.xunlei.ithunder</string>
				<key>bundle-version</key>
				<string>5.21</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>更多福利微信1822412614</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
