<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://7xnusr.com1.z0.glb.clouddn.com/o_1bk3pi69v1k6e1v8uii3ts89bv7.ipa?e=1514946361&token=8e4YkwOPAwrhUijy7FMfODl6WpNWmF9LiYknl5WH:VhinRRJay-F-M5uPGvQ8qNgfYa4=</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://i8cv.com/Icon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://i8cv.com/Icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.xunlei.ithunder</string>
				<key>bundle-version</key>
				<string>5.28.1.2067</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>5.28.1.2067</string>
				<key>title</key>
				<string>迅雷5.28-更多好玩请加微信：1822412614</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
